### Python Library for Data Analysis
### Pandas - Data Analysis

- Series Object - one-dimensional data
- DataFrame Object - two-dimensional data
- Reading Data from CSV files into DataFrames
- Processing/Accessing DataFrames
    - Columns
    - Rows
- Updating DataFrames
- Writing DataFrame back to CSV files

In [2]:
filepath = 'datafile/income.csv'
import pandas as pd
def readCSVdata(filepath):
    return pd.read_csv(filepath)

readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62555,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [ ]:
s=4
e=7
while(s<e):
    for i in incomedf.values:
        print(i[s],end=" ")
    print("\n")
    s=s+1

In [2]:
incomedf = readCSVdata(filepath)

# Function to print all column names in a single line
# GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

def printDataFrameColumns(df):
    columns = df.columns
    for column in columns:
        print(column, end=' ')
    return

printDataFrameColumns(incomedf)

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

In [ ]:
l=[]
l.append(incomedf.iloc[[3],[2,3,4,5,6,7,8,9,10]])
l=str(l)
#incomedf.iloc[[1, 2, 4], [0, 2]]

In [ ]:
# Function to access a row based on a unique column value

def accessDataFrameRow(df, key):
    
    for row in df.values:
        if key in row:
            for item in row:
                print(item, end=' ')
            print('\n')
    return

accessDataFrameRow(incomedf, '04000US06')

In [ ]:
incomedf.2005

In [ ]:
# Accessing a unique value based on row, column info
# Income of a state in a given year
def getRowIndex(df, rowkey):
    for i in range(len(df.values)):
        if df.values[i][0] == rowkey or df.values[i][1] == rowkey:
            rowindex = i
    return rowindex
getRowIndex(incomedf,"Arizona")
# def getColumnIndex(df, columnkey):
#     for i in range(len(df.columns)):
#         if df.columns[i] == columnkey:
#             columnindex = i
#     return columnindex

# def valueFromRowColumn(df, rowkey, columnkey):
#     rowindex = getRowIndex(df, rowkey)
#     columnindex = getColumnIndex(df, columnkey)
#     return df.values[rowindex][columnindex]

# valueFromRowColumn(incomedf, 'California', '2009')

In [ ]:
# Function to update data based on rowkey and columnkey

def updateDataCellFromRowColumn(df, rowkey, columnkey, newdata):
    rowindex = getRowIndex(df, rowkey)
    columnindex = getColumnIndex(df, columnkey)
    row = df.values[rowindex]
    row[columnindex] = newdata
    df.loc[rowindex] = row
    return

updateDataCellFromRowColumn(incomedf, 'Arizona', '2007', 62555)
incomedf

In [ ]:
l=[]
l.append(accessDataFrameRow(incomedf, 62555))
l

In [ ]:

# Function to write DataFrame to CSV

incomedf.to_csv(filepath, index=False)

In [ ]:
# Function to add a new row of data to DataFrame

def addRowDataDataFrame(df, rowdata):
    lastrowindex = len(df.values)-1
    df.loc[lastrowindex+1] = rowdata
    return

rowdata = [1,2,3,4,5,56,13,14,313,12,0]
addRowDataDataFrame(incomedf, rowdata)
incomedf

In [ ]:
# Function to delete a row in a DataFrame

def deleteRowDataFrame(df, rowkey):
    rowindex = getRowIndex(df, rowkey)
    return df.drop(rowindex) 

incomedf = deleteRowDataFrame(incomedf, 1)
incomedf

df.values

In [7]:
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62555,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [45]:
#1.combined average income of all states from 2005 to 2013
def avgstate(df):
    s=0
    avg=0
    s1=0
    c=0
    c1=0
    l=[]
    for i in range(0,5):
        for j in range(2,11):
            s=s+incomedf.values[i][j]
            c=c+1
        avg=(s//c)
        l.append(avg)
    a= sum(l)//len(l)
    print(a)
#     for i in l:
#         s1=s1+i
#         c1=c1+1
#     print(s1//c1)
avgstate(incomedf)

47580

In [6]:
#2.function to state with highest avg income in the last 3 years
def last3yearsavg(df):
    s=0
    c=0
    for i in range(0,5):
        for j in range(8,11):
            s=s+incomedf.values[i][j]
            c=c+1
        avg=(s//c)
        print(incomedf.values[i][1],":",avg)
last3yearsavg(incomedf)

Alabama : 42478
Alaska : 51608
Arizona : 50657
Arkansas : 48013
California : 49604

In [14]:
#state with lowest avg income from 2007 to 2010
def lowestavgincome(df):
    s=0
    c=0
    l=[]
    for i in range(0,5):
        for j in range(4,8):
            s=s+incomedf.values[i][j]
            c=c+1
        avg=s//c
        #print(avg)
        l.append(avg)
    print(l)
    print(min(l))
lowestavgincome(incomedf)

[41900, 51754, 51344, 48227, 49740]
41900

In [24]:
#4.print the list of all states in the same line with avg income less than california
def lessthancalifornia(df):
    s=0
    c=0
    l=[]
    for i in range(0,5):
        for j in range(2,11):
            s=s+incomedf.values[i][j]
            c=c+1
        avg=(s//c)
        l.append(avg)
        print(incomedf.values[i][1],":",avg)
    print(l)
    s=48866
    for i in range(0,5):
        if l[i]<48866:
            print("these incomes are less than california income",l[i])
lessthancalifornia(incomedf)

Alabama : 41126
Alaska : 50616
Arizona : 50050
Arkansas : 47245
California : 48866
[41126, 50616, 50050, 47245, 48866]
these states incomes are less than california income 41126
these states incomes are less than california income 47245

In [47]:
#print the names of states based on descendong order of income in the year 2009
l=incomedf['2009']
print(l)
#sorted(l)
for i in range(0,5):
    print(incomedf.values[i][1],":",l[i])
sorted(l)

0    39980
1    61604
2    45739
3    36538
4    56134
Name: 2009, dtype: int64
Alabama : 39980
Alaska : 61604
Arizona : 45739
Arkansas : 36538
California : 56134

[36538, 39980, 45739, 56134, 61604]

In [44]:
#state with lowest recorded income from 2005 to 2013
def lowestIncome(df):
    l=[]
    for i in range(0,5):
        for j in range(2,11):
            l.append(df.values[i][j])
    print(l)
    print(min(l))
    
lowestIncome(incomedf)

[37150, 37952, 42212, 44476, 39980, 40933, 42590, 43464, 41381, 55891, 56418, 62993, 63989, 61604, 57848, 57431, 63648, 61137, 45245, 46657, 62555, 46914, 45739, 46896, 48621, 47044, 50602, 36658, 37057, 40795, 39586, 36538, 38587, 41302, 39018, 39919, 51755, 55319, 55734, 57014, 56134, 54283, 53367, 57020, 57528]
36538