In [21]:
a="hello"
print(a,type(a))
a[len(a)//2]

hello <class 'str'>

'l'

In [2]:
b=5
print(a,b)

hello 5

In [16]:
s1="python"
print(s1[1])
print(s1[0:])
print(s1[-1])
print(s1[::-1])
print(s1[-1::-1])
print(s1[-1:-3:-1])

y
python
n
nohtyp
nohtyp
no

In [28]:
#reverse the middle two characters in even length string
name="kalyan"
print(name[len(name)//2:len(name)//2-2:-1])

yl

In [38]:
#accessing alternating characters of string in reverse order
s1="python"
print(s1[::-2])
s1[-1::-3]

nhy

'nt'

## Functions

In [40]:
import keyword
print(keyword.kwlist)
len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

In [41]:
#function to reverse a string
def reverseString(s):
    return s[::-1]


reverseString("python")

'nohtyp'

In [44]:
#Function to check if string is a palindrome
def palindrome(s):
    if(s==s[::-1]):
        return True
    else:
        return False

palindrome("liril")

True

In [48]:
#leapyear
def leapyear(year):
    if(year%400==0 or (year%100!=0 and year%4==0)):
        return True
    else:
        return False
leapyear(2020)

True

In [50]:
from calendar import isleap
isleap(2020)

True

In [54]:
def countdigits(n):
    return len(str(n))
countdigits("123")

3

In [52]:
#greatest 4 numbers
def max(a,b,c,d):
    if(a>b and a>c and a>d):
        return a
    elif(a>c and b>d):
        return b
    elif(c>d):
        return c
    else:
        return d
max(4,3,6,2)

6

## Iteration
 * for *
 *  while *

In [68]:
def naturalnumbers(n):
    for i in range(1,n+1):
        print(i, end=" ")
naturalnumbers(14)

1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [66]:
def naturalnumbers(n):
    i=1
    while i<=n:
        print(i, end=" ")
        i=i+1
    return
naturalnumbers(100)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [69]:
2 and 8

8

In [70]:
9 and 2

2

In [71]:
-2 and 8

8

In [72]:
0 and 5

0

In [73]:
0 and -1

0

In [74]:
2 and 7+3

10

In [75]:
bool(5)

True

In [76]:
True+False

1

In [77]:
False+False

0

In [ ]:
a=5
b=4
print(a+b)

In [ ]:
i=0
while i<5:
    print(i)
    i=i-1

In [1]:
#function to print all number divisible by 6 and not factors of 100 in given range
def divisible(n1,n2):
    for i in range(n1,n2+1):
     if(i%6==0 and i%100!=0):
        print(i, end=" ")
    return
divisible(10,100)

12 18 24 30 36 42 48 54 60 66 72 78 84 90 96

In [2]:
#function to find the average of cubes of all even numbers
def avgcubes(n1,n2):
    s=0
    count=0
    for i in range(n1,n2+1):
        if(i%2==0):
            s=s+i**3
            count=count+1
    return s/count
avgcubes(1,3)

8.0

In [3]:
#function to generate the list of factors for given number
def factors(n):
    for i in range(1,n+1):
        if(n%i==0):
            print(i, end=" ")
    return
factors(6)

1 2 3 6

In [10]:
#function to calculate the factorial of a given number
def factorial(n):
    res=0
    for i in range(1,n):
            res=res*i
    return res
factorial(5)

0

In [11]:
#factorial of given number
def factorial(n):
    res=1
    for i in range(2,n):
        res=res+n*i
    return res
factorial(5)

46

In [12]:
def primeavg(n1,n2):
    sum=0
    count=0
    for i in range(n1,n2):
        if(i%2==0):
            count=count+1
            sum=sum+i
    return sum/count
primeavg(1,10)

5.0

In [13]:
#perfect numbers
def perfect(n):
    for j in range(1,n+1):
        s=0
        for i in range(1,j):
            if(j%i==0):
                s=s+i
        if j==s:
            print(j,end=" ")
perfect(1000)

6 28 496